@font-face {
  font-family: Rubik;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("Rubik Light "), local("Rubik-Light"),
    url("/fonts/rubik-latin-300-239cf85916292b3585d17ba1f7801dbb.woff2")
      format("woff2"),
    url("/fonts/rubik-latin-300-73ce1e5f9e44d490f48490673038d5d3.woff")
      format("woff");
}
@font-face {
  font-family: Rubik;
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: local("Rubik Light italic"), local("Rubik-Lightitalic"),
    url("/fonts/rubik-latin-300italic-9578c8a599ff9b3b328f306da81607f0.woff2")
      format("woff2"),
    url("/fonts/rubik-latin-300italic-b7a94712079cba234be3f546cf42f588.woff")
      format("woff");
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Rubik Regular "), local("Rubik-Regular"),
    url("/fonts/rubik-latin-400-63c5b6176f60881d53dd2dc10904a04c.woff2")
      format("woff2"),
    url("/fonts/rubik-latin-400-80a9477d95ed5ca6e64843c1024e9e7f.woff")
      format("woff");
}
@font-face {
  font-family: Rubik;
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local("Rubik Regular italic"), local("Rubik-Regularitalic"),
    url("/fonts/rubik-latin-400italic-4ff19ede4cf2a2a07c638795a389f6df.woff2")
      format("woff2"),
    url("/fonts/rubik-latin-400italic-f778b3151e4b3ed5b831e9e8646ab207.woff")
      format("woff");
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("Rubik Medium "), local("Rubik-Medium"),
    url("/fonts/rubik-latin-500-9ac3d9de00cce6d3352a889816226451.woff2")
      format("woff2"),
    url("/fonts/rubik-latin-500-bec9243368f86e688b23bc1852823d0b.woff")
      format("woff");
}
@font-face {
  font-family: Rubik;
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: local("Rubik Medium italic"), local("Rubik-Mediumitalic"),
    url("/fonts/rubik-latin-500italic-d8de1d9a8a017aed7e74649e8e06eeb5.woff2")
      format("woff2"),
    url("/fonts/rubik-latin-500italic-21955254e41869cea3f5a1769ab1cbe6.woff")
      format("woff");
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Rubik Bold "), local("Rubik-Bold"),
    url("/fonts/rubik-latin-700-a7db29488272756e766b024e6aebe848.woff2")
      format("woff2"),
    url("/fonts/rubik-latin-700-29b164482600fc3976b5b2c863d69b71.woff")
      format("woff");
}
@font-face {
  font-family: Rubik;
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local("Rubik Bold italic"), local("Rubik-Bolditalic"),
    url("/fonts/rubik-latin-700italic-9c1d6e0e66641c7c0806a5ad1b3d9286.woff2")
      format("woff2"),
    url("/fonts/rubik-latin-700italic-4a8c46be9056c47cc8d0e3a3a70ae193.woff")
      format("woff");
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local("Rubik Black "), local("Rubik-Black"),
    url("/fonts/rubik-latin-900-0d11544364bc4541af96267ca8b2a5ce.woff2")
      format("woff2"),
    url("/fonts/rubik-latin-900-44913051ee3d4536cd4fa368067e9a83.woff")
      format("woff");
}
@font-face {
  font-family: Rubik;
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: local("Rubik Black italic"), local("Rubik-Blackitalic"),
    url("/fonts/rubik-latin-900italic-3c9d154e1fa888849c63a616e2f09b3c.woff2")
      format("woff2"),
    url("/fonts/rubik-latin-900italic-5b173e43e6e846589858d97fa0b406c9.woff")
      format("woff");
}
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("Open Sans Light "), local("Open Sans-Light"),
    url("/fonts/open-sans-latin-300-24f7b0944e9e03a905f9d7701573b2cd.woff2")
      format("woff2"),
    url("/fonts/open-sans-latin-300-a7622f60c56ddd5301549a786b54e6e6.woff")
      format("woff");
}
@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: local("Open Sans Light italic"), local("Open Sans-Lightitalic"),
    url("/fonts/open-sans-latin-300italic-6725c3fb1f3abd7ebdcb2d244758f706.woff2")
      format("woff2"),
    url("/fonts/open-sans-latin-300italic-793b1237017aeacd646fb80911425566.woff")
      format("woff");
}
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Open Sans Regular "), local("Open Sans-Regular"),
    url("/fonts/open-sans-latin-400-33543c5cc5d88f5695dd08c87d280dfd.woff2")
      format("woff2"),
    url("/fonts/open-sans-latin-400-de0869e324680c99efa1250515b4b41c.woff")
      format("woff");
}
@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local("Open Sans Regular italic"), local("Open Sans-Regularitalic"),
    url("/fonts/open-sans-latin-400italic-b61a9055d92ac56c15cacf4271d4f072.woff2")
      format("woff2"),
    url("/fonts/open-sans-latin-400italic-06b4bfda4e139eaf3ab9872a6d66f42f.woff")
      format("woff");
}
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("Open Sans SemiBold "), local("Open Sans-SemiBold"),
    url("/fonts/open-sans-latin-600-819af3d3abdc9f135d49b80a91e2ff4c.woff2")
      format("woff2"),
    url("/fonts/open-sans-latin-600-449d681cd6006390e1bee3c3a660430b.woff")
      format("woff");
}
@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: local("Open Sans SemiBold italic"), local("Open Sans-SemiBolditalic"),
    url("/fonts/open-sans-latin-600italic-ebdfa24cb411ba3016abd1c3ea5746e5.woff2")
      format("woff2"),
    url("/fonts/open-sans-latin-600italic-56e5756b696615d6164a625e1bcb1a9e.woff")
      format("woff");
}
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Open Sans Bold "), local("Open Sans-Bold"),
    url("/fonts/open-sans-latin-700-0edb76284a7a0f8db4665b560ee2b48f.woff2")
      format("woff2"),
    url("/fonts/open-sans-latin-700-1f85e92d8ff443980bc0f83ad7b23b60.woff")
      format("woff");
}
@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local("Open Sans Bold italic"), local("Open Sans-Bolditalic"),
    url("/fonts/open-sans-latin-700italic-a49393f2171a2f4d6927ce6c14f73dbc.woff2")
      format("woff2"),
    url("/fonts/open-sans-latin-700italic-bf72679ca22e53320beaea090e8bb07d.woff")
      format("woff");
}
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local("Open Sans ExtraBold "), local("Open Sans-ExtraBold"),
    url("/fonts/open-sans-latin-800-ab3e500e7375695d702cff19513e4470.woff2")
      format("woff2"),
    url("/fonts/open-sans-latin-800-05ebdbe10796850f045fcd484f35788d.woff")
      format("woff");
}
@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: local("Open Sans ExtraBold italic"), local("Open Sans-ExtraBolditalic"),
    url("/fonts/open-sans-latin-800italic-c62c3eea77cf3fca51494e8c924adf4d.woff2")
      format("woff2"),
    url("/fonts/open-sans-latin-800italic-92da6f116d973bd334cf9b3afdb29c4f.woff")
      format("woff");
}
