//Variables

//Colors
$primary: #42dca3 !default; // Used as the primary color
$primary-variation: #1d9b6c !default; // A variation of the primary color for hover and focus elements

$white: #fff !default;
$gray-100: #e6e6e6 !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;
$gray-990: #1a1a1a !default;
$black: #000 !default;

$blue: #0e2d6d !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #e74a3b !default;
$orange: #fd7e14 !default;
$yellow: #fff44f !default;
$green: #1cc88a !default;
$teal: #20c9a6 !default;
$cyan: #36b9cc !default;
