// Header Styles
h1 {
  margin-bottom: 0.5rem;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial,
    sans-serif;
  font-weight: 500;
  color: $white;
  text-rendering: optimizeLegibility;
  font-size: 2rem;
  line-height: 1.125;
}
h2 {
  margin-bottom: 0.5rem;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial,
    sans-serif;
  font-weight: 500;
  color: $white;
  text-rendering: optimizeLegibility;
  font-size: 1.5rem;
  line-height: 1.25;
}
h3 {
  margin-bottom: 0.5rem;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial,
    sans-serif;
  font-weight: 500;
  color: $white;
  text-rendering: optimizeLegibility;
  font-size: 1.25rem;
  line-height: 1.25;
}
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial,
    sans-serif;
  font-weight: 500;
  color: $white;
  text-rendering: optimizeLegibility;
  font-size: 1.125rem;
  line-height: 1.11111111;
}
p {
  margin: 0 0 1rem;
}

// Text Styles
strong {
  color: $white;
}
